In [1]:
from dateutil import rrule
import urllib.request
import datetime
import pandas as pd
import numpy as np
import json
import time
import ssl
import datetime
from collections import defaultdict

In [2]:
stock = 2330
days = 60
start_from_day_ago = 214
current_day = 1
stock_balance = 0
init_assets = 2000000 # should be greater than 0

In [3]:
# initialize the Indices
RSI = 0
KD = 0
MACD =0
Bollinger_Band = 0
D_value = 0
J_value = 0

In [21]:
fields = None
data_record = None
for i in range(1, 13):
  # Get the all data
  url = (
    "https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date="
    # + datetime.datetime.now().strftime("%Y%m%d")
    + f"2023{i:02d}01"
    + "&stockNo="
    + str(stock)
  )
  headers={"User-Agent":"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36 QIHU 360SE"}

  req = urllib.request.Request(url, headers=headers)
  req_data = json.loads(urllib.request.urlopen(req).read())
  if i == 1:
    fields = req_data['fields']
    data_record = req_data['data']
  else:
    for j in range(0, len(req_data['data'])):
      data_record.append(req_data['data'][j])

In [22]:
pd.DataFrame(data_record,columns=fields)

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,112/01/03,"15,311,364","6,871,973,708",446.00,453.50,443.00,453.00,+4.50,"22,581"
1,112/01/04,"20,626,874","9,310,050,329",449.50,455.00,448.50,449.50,-3.50,"18,233"
2,112/01/05,"23,972,099","10,972,616,269",459.00,459.50,455.00,458.50,+9.00,"20,752"
3,112/01/06,"21,313,593","9,745,142,549",455.00,459.50,455.00,458.50,0.00,"16,635"
4,112/01/09,"49,186,355","23,352,375,299",468.00,481.00,467.50,481.00,+22.50,"57,305"
...,...,...,...,...,...,...,...,...,...
234,112/12/25,"9,994,163","5,820,235,840",582.00,585.00,580.00,581.00,-1.00,"12,786"
235,112/12/26,"17,033,926","9,963,615,754",583.00,586.00,582.00,586.00,+5.00,"22,883"
236,112/12/27,"34,750,958","20,491,144,772",587.00,592.00,586.00,592.00,+6.00,"37,372"
237,112/12/28,"27,152,352","16,064,106,365",592.00,593.00,589.00,593.00,+1.00,"26,497"
238,112/12/29,"20,155,619","11,931,171,966",589.00,593.00,589.00,593.00,0.00,"20,081"